.friendList {
  list-style-type: none;

  width: 200px;
  margin: auto;
}
.item {
  display: flex;
  border-radius: 5px;
  border: 2px;
  border-color: grey;
  border-radius: 5px;
  border: 2px;
  border: solid grey;
}
.name {
  padding-left: 10px;
}
.isOnline {
  color: red;
}
.isOffline {
  color: green;
}
.status {
  font-size: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.avatar {
  border-radius: 10px;
  width: 40px;
  height: auto;
  display: flex;
}
